* {
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
#title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    background-color: blanchedalmond;
    font-weight: bolder;
}
.country
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
color: white;
}

.spain {
    background-color: rgb(116, 0, 0);
}
.hungary {
    background-color: darkgreen;
}

.scotland {
    background-color: darkblue;
}
.link {
    font-size: medium;
}
.image {
    height: auto;
    width: 300px;
}